name: Runner

on:
  schedule:
    - cron: "*/30 * * * *"

  workflow_dispatch:

jobs:
  runner:
    runs-on: ubuntu-latest
    container: ghcr.io/opencidn/cidn/runner:v0.0.29
    steps:
      - shell: sh
        run: runner ${{ secrets.ARGS }}
