name: Runner ${{ github.run_id }})

on:
  schedule:
    - cron: "*/30 * * * *"

  workflow_dispatch:

jobs:
  runner:
    runs-on: ubuntu-latest
    container: ghcr.io/opencidn/cidn/runner:v0.0.41
    steps:
      - shell: sh
        run: runner --update-duration=10s ${{ secrets.ARGS }}
